@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {  
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg ,blue, cyan, violet, purple);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

   /* text a:active,
   button:hover {
    outline: 0;
   }
   
   .texts a:hover {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px; */
    /* width: 100%; */
    /* height: 100%; */
    /* transition: 300ms;
   }
   
   .texts a:hover {
    background: none;
   }
   
   .texts a:active {
    transform: scale(0.9);
   }

   .button-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content:center;
} */

button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;

    position: absolute;
    left: 10%;
    top: 15%;
}
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 12px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }
.box {
    margin: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.texts h1{
    position: absolute;
    top: 25%;
    left: 10%;
    float: left;
    font-size: 50px;
}

.texts p {
    position: absolute;
    bottom: 5%;
    top: 40%;
    padding-left: 1050px;
    font-size: 20px;
    text-align: center;
}

.texts a {
    position: absolute;
    top:15%;
    left: 10%;
    font-size: 30px;  
    color: #191938; 
    cursor: pointer;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.container .card {
    width: 220px;
    height: 240px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em violet, -0.5em -0.5em 1em cyan;
    border-radius: 20px;
}

.container .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.container .card .content .image-box {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.container .card .content .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .content-box h4 {
    color: #373776;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.content-box h5 {
    color: #373776;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    /* font-style: italic; */
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container1 .card {
    width: 220px;
    height: 240px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em violet, -0.5em -0.5em 1em cyan;
    border-radius: 20px;
}

.container1 .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.container1 .card .content .image-box {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    /* margin-bottom: 20px; */
    overflow: hidden;
}

.container1 .card .content .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .card .content .content-box h4 {
    color: #373776;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container2 .card {
    width: 220px;
    height: 240px;  
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em violet, -0.5em -0.5em 1em cyan;
    border-radius: 20px;
}

.container2 .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.member-img {
    width: 6rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.container2 .card .content .content-box h4 {
    color: #373776;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #191938;
    padding: 2rem;
    color: white;
}