@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito Sans', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg ,blue, cyan, violet, purple);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header {
    background-color: #191938;
    color: white;
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github {
    color: white;
    transition: .3s ease all;
}

.github:hover {
    color: #3a3a81;
}

#two-set-container, #three-set-container {
    display: none;
    align-items: center;
    gap: 1rem;
}

.ext-link-container{
    display: flex;
    align-items: center;
    gap: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

button {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
       }
       
       button:active,
       button:hover {
        outline: 0;
       }
       
       button span {
        background-color: rgb(5, 6, 45);
        padding: 10px 20px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
       }
       
       button:hover span {
        background: none;
       }
       
       button:active {
        transform: scale(0.9);
       }

       .button-container {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

input {
    padding: .6rem .8rem;
    border-radius: 12px;
    background-color: #dadada;
    border: none;
    outline: none;
}

.text-container {
    margin: 1rem;
}

.venn-diagram {
    position: relative;
    margin: 2rem 10rem;
}

.circle-1 {
    border: 2px black solid;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    text-align: end;
    padding: 4rem;
}

.circle-2 {
    border: 2px black solid;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 60%;
    padding: 4rem;
}

.circle-3 {
    border: 2px black solid;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 66%;
    padding: 4rem;
}

.intersect {
    width: 8rem;
    height: 15rem;
    position: absolute;
    top: 12%;
    border-radius: 100%;
    right: 60%;
    padding: 3rem;
}

.set-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button#submit-btn, button#submit-btn2 {
    align-items: center  ;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 4px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    left: 100px;
  }
  
  button#submit-btn2:active,
  button#submit-btn2:hover {
    outline: 0;
  }
  
  button#submit-btn2 span.text {
    background-color: rgb(5, 6, 45);
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button#submit-btn2:hover span.text {
    background: none;
  }
  
  button#submit-btn2:active {
    transform: scale(0.9);
  }

#select-2-set {
    display: none;
    padding: 1rem;
}

#select-3-set {
    display: none;
    padding: 1rem;
}

aside {
    width: auto;
    margin: 1rem 12rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 12px;
    display: none;
    background-color: hsl(231, 100%, 91%, 0.5);
}

.heading-title {
    text-align: center;
    visibility: hidden;
}

#title {
    margin-top: 6rem;
}

.venn-diagram-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: hsl(231, 100%, 91%, 0.5);
    padding: 5rem;
    width: auto;
    margin: -2rem 2rem;
    border-radius: 12px;
    border: 1px solid black;
}

.venn-diagram-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    width: auto;
    height: 50rem;
    margin: 2rem;
    background-color: hsl(231, 100%, 91%, 0.5);
    border: 1px solid black;
}

.huge-circle-1 {
    border: 2px black solid;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    text-align: end;
    padding: 5rem;
    margin-left: 12rem;
    text-align: start;
}

.huge-circle-2 {
    border: 2px black solid;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 20%;
    padding: 5rem;
    text-align: end;
}

.huge-circle-3 {
    border: 2px black solid;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 32%;
    padding: 4rem;
    padding-top: 18rem;
    text-align: center;
}

.intersect-3 {
    padding: 4rem;
}

#intersect-ab {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 41%;
}

#intersect-bc {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 52%;
}

#intersect-ac {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 31%;
}

#intersect-all {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 41%;
}
/* topbutton */
.buts button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
 
  }
  
  .buts button:active,
  .buts button:hover {
    outline: 0;
  }
  
  .buts button span {
    background-color: rgb(5, 6, 45);
    padding: 10px 10px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .buts button:hover span {
    background: none;
  }
  
  .buts button:active {
    transform: scale(0.9);
  }

/* FOOTER SECTION */

footer {
    text-align: center;
    background-color: #191938;
    margin-top: 5rem;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: white;
    font-weight: bold;
}

#buts{
    margin-top: 3rem;
    margin-left: 90%;
    margin-bottom: -3rem;
    box-sizing: 30px;
}

